@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

$white: white;
$black: black;

.navbar {
  margin-bottom: 0;
  background: $white;
}
body {
  background: $white;
  color: $black;
  font-family: "Merriweather", sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: $black;
}
a:visited {
  color: $white;
}
.jumbotron {
  background: #0048cd;
  color: $black;
  text-align: center;
  p {
    color: $black;
    font-size: 26px;
  }
}
.link {
  color: $black;
}
.btn-primary {
  color: $white;
  border-color: $black;
  margin-bottom: 5px;
}
.btn-sm {
  background-color: $black;
  display: inline-block;
}
.table td {
  vertical-align: middle;
}

.turbo-progress-bar {
  height: 15px;
  background-color: gold;
}